.characterCardPane {
    -fx-background-image: url("../Images/Backgrounds/blueCloud.jpg");
    -fx-background-size: stretch;
}


.buttonPlay {
    -fx-background-image: url("../Images/Buttons/charcardbtn.jpg");
    -fx-border-color: transparent;
    -fx-background-size: stretch;
    -fx-background-color: transparent;
}

.backButton {
    -fx-background-image: url("../Images/Buttons/backbtn.jpg");
    -fx-border-color: transparent;
    -fx-background-size: stretch;
    -fx-background-color: transparent;
}