.chooseCloudTilePane {
    -fx-background-image: url("../Images/Backgrounds/blueCloud.jpg");
    -fx-background-size: stretch;
}


.playCCButton {
    -fx-background-image: url("../Images/Buttons/charcardbtn.jpg");
    -fx-border-color: transparent;
    -fx-background-size: stretch;
    -fx-background-color: transparent;
}