.loginPane {
    -fx-background-image: url("../Images/Backgrounds/blueCloud.jpg");
    -fx-background-size: stretch;
}


.loginButton {
    -fx-background-image: url("../Images/Buttons/login.png");
    -fx-border-color: transparent;
    -fx-background-size: stretch;
    -fx-background-color: transparent;
}